<div class="d-flex flex-column align-items-center">
  <h1>User:
    <%= @user.name %>
  </h1> 
  <%= link_to 'Back', users_path, class: "link" %>
</div>

<div class="d-flex justify-content-around">
  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title mb-3">Created Events</h2>
        <% @user.created_events.each do |event| %>
          <%= event.title %>
          <%= link_to 'Show', event, class: "link text-secondary" %>
          <br class="mb-2">
        <% end %>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title mb-3">Attended Past Events</h2>
        <% @user.attended_events.before.each do |event| %>
          <%= event.title %>
          <%= link_to 'Show', event, class: "link text-secondary" %>
          <br class="mb-2">
        <% end %>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h2 class="card-title mb-3">Future Events to attend</h2>
        <% @user.attended_events.after.each do |event| %>
          <%= event.title %>
          <%= link_to 'Show', event, class: "link text-secondary" %>
          <br class="mb-2">
        <% end %>
        <br>
    </div>
  </div>
</div>
