<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>Created Events:</p>
<% @user.created_events.each do |event| %>
    <%= event.title %>
<% end %>
<p>Attended Past Events:</p>
<% @user.attended_events.each do |event| %>
  <% if Date.today > event.date %>
    <%= event.title %>
  <% end %>
<% end %>
<p>Future Events to attend:</p>
<% @user.attended_events.each do |event| %>
  <% if Date.today < event.date %>
    <%= event.title %>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', users_path %>
